<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="">
    <clear />
    <!--<add key="ConnectionStringExpedientes" value="Data Source=192.168.23.205;Initial Catalog=expedientes_imserso;User ID=aplicaciones;Password=aplicaciones" />-->
    <add key="ConnectionStringExpedientes" value="Data Source=192.168.23.212\SQLSERVER2016;Initial Catalog=expedientes_imserso;User ID=jopenada;Password=rdpochni" />
    
    <add key="prereservas_fichero_clientes" value="1"/>
    <add key="grid_repetidas" value="0"/>
    <add key="nacion" value="2"/>
    <add key="nacion_1" value="2"/>
    <add key="nacion_4" value="1"/>
    <add key="nacion_5" value="1"/>
    <add key="comprueba_reservas" value="1"/>
    <add key="contrato_alta_tv" value="142"/>
    <add key="contrato_baja_tv" value="111"/>

  </appSettings>
</configuration>